<html>
    <head>
        <link rel="stylesheet" href='/static/style.css' />
    </head>
    <body>
        <h3>Bottoni</h3>
        <button value="w" name="forward">forward</button>
        <button value="a" name="left">left</button>
        <button value="s" name="backward">backward</button>
        <button value="d" name="right">right</button>
        <button value="stop" name="stop">stop</button>

        <div class="dataSensors"></div>

        <script>
            buttons = document.querySelectorAll("button")
            dataSensors = document.querySelector(".dataSensors")

            document.addEventListener("keydown", async (e) =>{
                response = await fetch("/move?data=" + e.key) 
                console.log("MI MUOVOOOOOOOOOOO")  
            })

            document.addEventListener("keyup", async (e) =>{
                response = await fetch("/api/v1/stopMotors")  
                console.log("STOOOOOOOOOOOOOOOPPPPPPPPPPPPPP")  
            })


            buttons.forEach(b => {
                b.addEventListener("mousedown", async () => {
                    response = await fetch("/move?data=" + b.value)  
                    console.log("MI MUOVOOOOOOOOOOO")  
                })
                b.addEventListener("mouseup", async () => {
                    response = await fetch("/api/v1/stopMotors")  
                    console.log("STOOOOOOOOOOOOOOOPPPPPPPPPPPPPP")  
                })
            });

            async function getSensors() {
                response = await fetch("/api/v1/sensors")
                data = await response.json()
                console.log('Sensori:', data);
                
                left = document.createElement("p")
                left.textContent = "left: " + data.left
                right = document.createElement("p")
                right.textContent = "right: "+ data.right
                dataSensors.innerHTML = ""
                dataSensors.appendChild(left)
                dataSensors.appendChild(right)
            }

            // setInterval(getSensors, 1000);
        </script>
    </body>
</html>